.slide-title{
    margin: 0;
}

.slide-content{
    display: none;
    visibility: visible;
    word-wrap:break-word;
    word-break: break-all;
    display: -webkit-box;
    WebkitLineClamp: 2;
    WebkitBoxOrient: vertical;
    overflow: hidden;
    textOverflow: ellipsis;
    maxHeight: 3em;
    lineHeight: 1.5em;
}