@font-face {
  font-family: "D-DIN-Bold";
  src: local("D-DIN-Bold"),
    url("../public/fonts/D-DIN-Bold.otf") format("opentype");
  font-weight: normal; /* Use normal since the font is inherently bold */
  font-style: normal;
}

/* Optional: Define a class to use the font */
.d-din-bold {
  font-family: "D-DIN-Bold", sans-serif; /* Fallback to sans-serif if the custom font is not available */
}

body {
  font-family: "D-DIN-Bold", sans-serif;
  margin: 0px;
  max-width: 288px;
  max-height: 240px;
  min-width: 288px;
  min-height: 240px;
  background-color: #000000;
  color: rgb(255, 255, 255);
  overflow: hidden;
}
